language: cpp

os:
  - linux
  - osx

sudo: required # need by trusty
dist: trusty

compiler:
  - gcc
  - clang

cache: apt # this feature is available only for private repositories

env:
  - BTYPE="-DCMAKE_BUILD_TYPE=Debug"
  - BTYPE="-DCMAKE_BUILD_TYPE=Release"

#-------------------------------------------------------------------
# matrix details :
#
#   - 2x gcc    under Linux trusty 14.04 LTS    (debug and release)
#   - 2x clang  under Linux trusty 14.04 LTS    (debug and release)
#
#   - 2x clang  under OS X with Apple LLVM      (debug and release)
#-------------------------------------------------------------------
matrix:
  fast_finish: true
  exclude:
    - os: osx
      compiler: gcc

addons:
  apt:
    packages:
      - libgtkmm-2.4-dev
      - libgtkmm-3.0-dev
      - gettext
      - libzip-dev
      - libhpdf-dev
      - doxygen
      - graphviz

install:
  - cmake --version

# osx :
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew update; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install gtkmm gtkmm3; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install gettext intltool; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install libzip libharu; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install doxygen graphviz; fi

script:
# linux :
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]];  then mkdir build && cd build && cmake .. $BTYPE -DCRN_DEPENDENCY_GTKMM2=ON -DCRN_DEPENDENCY_GTKMM3=ON -DCRN_DEPENDENCY_PNG=ON -DCRN_DEPENDENCY_JPEG=ON -DCRN_DEPENDENCY_GDKPIXBUF=ON -DCRN_DEPENDENCY_GETTEXT_INTL=ON  -DCRN_DEPENDENCY_ZIP=ON  -DCRN_DEPENDENCY_HARUPDF=ON; fi
# osx :
#   -> missing file in homebrew's gettext
#   -> missing file in homebrew's libzip
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]];    then mkdir build && cd build && cmake .. $BTYPE -DCRN_DEPENDENCY_GTKMM2=ON -DCRN_DEPENDENCY_GTKMM3=ON -DCRN_DEPENDENCY_PNG=ON -DCRN_DEPENDENCY_JPEG=ON -DCRN_DEPENDENCY_GDKPIXBUF=ON -DCRN_DEPENDENCY_GETTEXT_INTL=OFF -DCRN_DEPENDENCY_ZIP=OFF -DCRN_DEPENDENCY_HARUPDF=ON; fi
  - make
  - make test
