language: cpp

os:
  - linux
  - osx

sudo: required # need by trusty
dist: trusty

compiler:
  - clang
  - gcc

cache: apt # this feature is available only for private repositories

env:
  - BTYPE="-DCMAKE_BUILD_TYPE=Debug"
  - BTYPE="-DCMAKE_BUILD_TYPE=Release"
  
# doc
  - GENDOC="true"

#-------------------------------------------------------------------
# matrix details :
#
#   - 2x gcc    under Linux trusty 14.04 LTS    (debug and release)
#   - 2x clang  under Linux trusty 14.04 LTS    (debug and release)
#
#   - 2x clang  under OS X with Apple LLVM      (debug and release)
#-------------------------------------------------------------------
#   - 1x clang  under Linux trusty 14.04 LTS    (DOCUMENTATION)
#-------------------------------------------------------------------
matrix:
  fast_finish: true
  exclude:
    - os: osx
      compiler: gcc
# exclude 'doc' under clang-osx and under gcc-linux
    - os: osx
      compiler: clang
      env: GENDOC="true"
    - os: linux
      compiler: gcc
      env: GENDOC="true"

addons:
  apt:
    packages:
      - libgtkmm-2.4-dev
      - libgtkmm-3.0-dev
      - gettext
      - libzip-dev
      - libhpdf-dev
      - libqt4-dev
      - libopencv-dev
      - doxygen
      - graphviz

install:
  - cmake --version
  - DOC="false"

# osx :
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew update; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install gtkmm gtkmm3; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install gettext intltool; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install libzip libharu; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install qt; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install homebrew/science/opencv; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install doxygen graphviz; fi
#
# documentation :
  - if [[ "$GENDOC" == "true" ]]; then if [[ "$Pleiad_Original_Repo" == "true" ]]; then if [[ "$TRAVIS_PULL_REQUEST" == "false" ]]; then DOC="true"; echo "---> DOCUMENTATION <---"; fi; fi; fi
  - if [[ "$DOC" == "true" ]]; then openssl aes-256-cbc -K $encrypted_8f288eedc0f3_key -iv $encrypted_8f288eedc0f3_iv -in .travis/pleiad.enc -out .travis/pleiad -d; chmod 600 .travis/pleiad; fi

script:
# linux :
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]];  then mkdir build && cd build && cmake .. $BTYPE -DCRN_DEPENDENCY_GTKMM2=ON -DCRN_DEPENDENCY_GTKMM3=ON -DCRN_DEPENDENCY_PNG=ON -DCRN_DEPENDENCY_JPEG=ON -DCRN_DEPENDENCY_GDKPIXBUF=ON -DCRN_DEPENDENCY_GETTEXT_INTL=ON  -DCRN_DEPENDENCY_ZIP=ON -DCRN_DEPENDENCY_HARUPDF=ON -DCRN_DEPENDENCY_QT4=ON -DCRN_DEPENDENCY_QT5=OFF; fi
# osx :
#   -> missing file in homebrew's gettext
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]];    then mkdir build && cd build && cmake .. $BTYPE -DCRN_DEPENDENCY_GTKMM2=ON -DCRN_DEPENDENCY_GTKMM3=ON -DCRN_DEPENDENCY_PNG=ON -DCRN_DEPENDENCY_JPEG=ON -DCRN_DEPENDENCY_GDKPIXBUF=ON -DCRN_DEPENDENCY_GETTEXT_INTL=OFF -DCRN_DEPENDENCY_ZIP=ON -DCRN_DEPENDENCY_HARUPDF=ON -DCRN_DEPENDENCY_QT4=ON -DCRN_DEPENDENCY_QT5=OFF; fi
  - make
  - make test
#
# osx only (add qt5 after qt4 in the same job) :
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew unlink qt; fi # ---> now unlink qt4
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install qt5; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then cd ..; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then mkdir build_osx_qt5 && cd build_osx_qt5 && cmake .. $BTYPE -DCRN_DEPENDENCY_GTKMM2=ON -DCRN_DEPENDENCY_GTKMM3=ON -DCRN_DEPENDENCY_PNG=ON -DCRN_DEPENDENCY_JPEG=ON -DCRN_DEPENDENCY_GDKPIXBUF=ON -DCRN_DEPENDENCY_GETTEXT_INTL=OFF -DCRN_DEPENDENCY_ZIP=ON -DCRN_DEPENDENCY_HARUPDF=ON -DCRN_DEPENDENCY_QT4=OFF -DCRN_DEPENDENCY_QT5=ON -DQT5_DIR=/usr/local/opt/qt5; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then make; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then make test; fi
#
# building the documentation
after_success:
  - if [[ "$DOC" == "true" ]]; then make doc; fi
  - if [[ "$DOC" == "true" ]]; then rsync -azv --delete --delete-after -e 'ssh -oStrictHostKeyChecking=no -i ../.travis/pleiad' ../doc/html/ mepp@liris.cnrs.fr:/home/mepp/public_html/libcrn/doc/nightly/; fi
